#logo{
    width: 50px;
}
.card{
    max-width: 700px;
}
header{
    background: #7f94b4;
    padding: 10px 0px;
    position: fixed;
    width: 100%;
}
.bg-menu{
    background: #7f94b4;
}
.border{
    margin-bottom: 20px;
    /*position: fixed;*/
    height: 60px;
    background: white;
}
button{
    background-color: #7f94b4 !important;
    color: white !important;
}
button:hover{
    background: #3d619a;
}
/*#registration_form_email{*/
/*    margin-left: 37px;*/
/*    width: 500px;*/
/*}*/

/*#registration_form_plainPassword{*/
/*    margin-left: 10px;*/
/*    width: 350px;*/
/*}*/

#registration_form_agreeTerms{
    margin-left: 55px;
}

#username{
    width: 500px;
    margin-left: 55px;
}

#email{
    width: 500px;
    margin-left: 55px;
}

#password{
    width: 500px;
    margin-left: 55px;
}

#password_confirmation{
    width: 500px;
    margin-left: 55px;
}

.variant {
    display: flex;
}

#have_account{
    font-size:1.4vw; /* Масштабируем текст */
}

#signup-button{
    display: flex; /* Justify text center */
align-items: center; /* Justify text center */
justify-content: center; /* Justify text center */
font-size:1.4vw; /* Масштабируем текст кнопки */
/*width: 250px;*/
/*height: 70px;*/
height: 3vw; /* Масштабируем размер кнопки о вертикали */
width: 12vw; /* Масштабируем размер кнопки по горизонтали*/
margin: auto;

}

#exist_account{
    display: flex; /*Justify text center */
align-items: center; /* Justify text center */
justify-content: center; /*Justify text center */
}

h1 {
    text-align: center;
}
form {
    background-color: #95999c;
    padding-bottom: 15px;
    padding-top: 20px;
}

.text-red-500{
    margin-left: 50px;
    color: red;
}
