.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}


body {
    background-image: var(--background-image); /* Цвет фона и путь к файлу url(pictures/Semeiz_01b.jpg)*/
    /*background-image: url("/pictures/back/Semeiz_01b.jpg")*/
    background-repeat: repeat-y; /*{# no-repeat #}*/  /* Повторение фоновой картинки по вертикали*/
    background-size: contain;
}
/*Мои эксперименты*/
/*Делаем, чтобы кнопки в заголовке занимали 80*/
#container2 {
    max-width: 80%;
}


.custom-row {
    width: 135%;
    position: relative;
    right: 100px;
}

#contact {
    margin: 0px 0px 0px 50px;
}

#about {
    margin: 0px 0px 0px 50px;
}

.bg-light {
    background-color: transparent!important;
}

#logo{
    width: 100%;
    height: 100%
}

.card-body{                    /* Фон карточек категорий предварительного просмотра*/
    background-color: #80bdff;
}

.card-text {
    text-align: center;
}
/* Выравниваем горизонтально и позиционируем возле формочки поиска теги <input> и <button>*/
.form-inline {
    display: flex;
    align-items: center;
}

.form-inline input,
.form-inline button {
    margin-right: 10px; /* Adjust the margin as needed */

}
#search-button{
    /*margin-top: 15px; /* Adjust block <button> with block <input> inside the form  */;
}

.custom-input-group {
    display: flex;
    align-items: center;
    height: 40px; /* Set the desired height for the input field and button */
    width: 400px;
}

.custom-search-input {
    /* Set the desired width for the input field */
    width: 80%; /* You can adjust this value as needed */
}

.custom-search-button {
    /* Set the desired width for the button */
    width: 20%; /* You can adjust this value as needed */
}

/* завершение выравнивания */
.alert{
    background-color: lightblue;
}
.language-selector {
    position: relative!important;
}
.flag-icon {
    display: inline-block!important;
    width: 30px!important; /* Adjust the width and height as needed */
    height: 20px!important;
    background-size: cover!important;
    margin-left: 20px!important; /* Optional - Add some space between the text and the flag */
    margin-top: 10px!important;
    float: right!important; /* Align the flags to the right */
}

/* Пробуем прижать футер */
html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

#footer {
    margin-top: auto;
}
/*--------------------------------------*/
