body {
/*{# background-color: transparent; #}*/
background-image: var(--background-image); /* Цвет фона и путь к файлу */
/*background-image: url("/pictures/back/Semeiz_01b.jpg");    */
/*url(http://localhost/pictures/Semeiz_01b.jpg)*/
background-repeat: no-repeat; /*{# repeat-y #}  /* Повторение фоновой картинки по вертикали*/
background-size: cover; /*{# contain #}*/
}

#logo{
    width: 100%;
    height: 100%
}

.custom-row {
    width: 135%;
    position: relative;
    right: 100px;
}

/*{#  #pic_gallery {
        height: 100%;
        width: 100%;
    }#}*/

#contact {
    margin: 0px 0px 0px 50px;
}

#about {
    margin: 0px 0px 0px 50px;
}
/*Делаем, чтобы кнопки в заголовке занимали 80*/
#container2 {
    max-width: 80%;
}

/*{# Располагаем блоки горизонтально внутри основного блока #}*/
#pic_gallery_div{
    display: inline-flex;
    margin-bottom: 20px;
}
/*{# Блок для фотографии #}*/
#card_gallery {
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
/*{#position: relative;
    height: 250px;
    overflow: hidden;
    margin-bottom: 20px;
    padding-bottom: 20px;
    #}*/
}

/*{# Фотография #}*/
#pic_of_gallery{
    width: 150%;
    height: 200px;
    object-fit: cover;
}


/*{# Центрирование текста под картинками #}*/
.small_image_text {
    text-align: center;
    margin-bottom: 20px;
}
/* Выравниваем горизонтально и позиционируем возле формочки поиска теги <input> и <button>*/
.form-inline {
    display: flex;
    align-items: center;
}

.form-inline input,
.form-inline button {
    margin-right: 10px; /* Adjust the margin as needed */

}
#search-button{
    /*margin-top: 15px; /* Adjust block <button> with block <input> inside the form  */;
}

.custom-input-group {
    display: flex;
    align-items: center;
    height: 40px; /* Set the desired height for the input field and button */
    width: 350px;
}

.custom-search-input {
    /* Set the desired width for the input field */
    width: 80%; /* You can adjust this value as needed */
}

.custom-search-button {
    /* Set the desired width for the button */
    width: 20%; /* You can adjust this value as needed */
}

/* завершение выравнивания */
.language-selector {
    position: relative!important;
}
.flag-icon {
    display: inline-block!important;
    width: 30px!important; /* Adjust the width and height as needed */
    height: 20px!important;
    background-size: cover!important;
    margin-left: 20px!important; /* Optional - Add some space between the text and the flag */
    margin-top: 10px!important;
    float: right!important; /* Align the flags to the right */
}
