.list-group {
    background-color: #7f94b4; /* Set the background color */
    margin-top: 50px; /* Set the top margin to 50px */
}

.list-group-item {
    background: #7f94b4;
}

#list-group-item {
    background: #7f94b4;
    color: gold;
}

.bg-menu {
    padding-bottom: 20px;

}

/* Style for the dropdown submenu */
.dropdown-menu {
    background: #7f94b4; /* Set the background color for the dropdown menu */
}

.dropdown-item {
    background: #7f94b4; /* Set the background color for the dropdown items */
    color: gold; /* Set the text color for the dropdown items */
}

/* Style for the dropdown menu when it's open */
.dropdown-menu.show {
    display: block; /* Ensure the dropdown menu is visible when open */
}



/* Style for the input menu */
#add_picture{  /*Input picture form*/
    background-color: #a0aec0;
    padding-bottom: 15px;
    padding-top: 20px;

}
#filename{
    width: 500px;
    margin-left: 55px;
}

#title{
    width: 500px;
    margin-left: 55px;
}

#description{
    width: 500px;
    margin-left: 55px;
}

#category{
    width: 500px;
    margin-left: 55px;
}

#category{
    width: 500px;
    margin-left: 55px;
}

#fototype{
    width: 500px;
    margin-left: 55px;
}

#signup-button{
    /*display: flex; !* Justify text center *!*/
    /*align-items: center; !* Justify text center *!*/
    justify-content: center; /* Justify text center */
    font-size:1.4vw; /* Масштабируем текст кнопки */
    height: 3vw; /* Масштабируем размер кнопки о вертикали */
    width: 12vw; /* Масштабируем размер кнопки по горизонтали*/
    margin: auto;

}
